.l-select {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 12px;

  .options {
    position: absolute;
    top: calc(100% - 1px);
  }

  .hints {
    top: 100%;
    position: absolute;
  }
}